<nav>
    <ul>
        <li><img alt="logo afbeelding, tekst afgebeeld 'Pixel Pair'" src="/images/logo.png"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/matchen">Matching</a></li>
    </ul>
</nav>

  <div id="butInloggen" >
      <a href="/login">Inloggen/account</a>
      <form id="uitloggen" action="/uitloggen" method="post">
          <input type="submit" value="Uitloggen">
      </form>
  </div>