<nav>
    <h1><a href="/"><img class="logo" alt="logo afbeelding, tekst afgebeeld 'Pixel Pair'" src="/images/logo.png"></a></h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/games">Games</a></li>
      
      <% if (user) { %>
        <li><a href="/matchen">Matching</a></li>
      <% } %>
  
      <% if (!user) { %>
        <li><a href="/login">Inloggen/registreren</a></li>
      <% } %>
    </ul>
  
    <% if (user) { %>

<div class="profielContainer">
  <a href="/profile">
    <img class="profielFoto" alt="user profile picture" src="<%= user.avatar ? '/uploads/' + user.avatar : '/images/defaultImg.png' %>">
  </a>

  <div class="dropdownMenu">
    <div class="kleurModus">
      <label><input type="radio" name="theme" value="auto"> Systeem</label>
      <label><input type="radio" name="theme" value="light"> Licht</label>
      <label><input type="radio" name="theme" value="dark"> Donker</label>
    </div>

  <form id="uitloggen" action="/uitloggen" method="post">
    <input type="submit" value="Uitloggen">
  </form>
</div>
</div>

    <% } %>
  </nav>
  