<h1>Pixel Pair</h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/matchen">Matching</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</nav>