<nav>
    <ul>
        <li><img alt="logo afbeelding, tekst afgebeeld 'Pixel Pair'" src="/images/logo.png"></li>
        <li><a href="/">Home</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/matchen">Matching</a></li>
        <li><a href="/login">Inloggen/account</a></li>
        <li><form id="uitloggen" action="/uitloggen" method="post">
                <input type="submit" value="Uitloggen">
            </form>
        </li>
    </ul>
</nav>
