    <form id="login" action="/login" method="post">
        <label for="email">email:</label><br>
        <input 
            type="email" 
            id="email" 
            name="email" 
            placeholder="email"
            required 
            autocomplete="email"><br><br>
        
        <label for="password">wachtwoord:</label><br>
        <input 
            type="password" 
            id="wachtwoord"
            name="password"
            placeholder="wachtwoord"
            required
            minlength="8">
            <br>
            <input type="checkbox" id="showpass"><br>
            

        <input type="submit" value="Inloggen"><br><br>
    </form>