    <form id="login" action="/login" method="post" enctype="multipart/form-data">
        <label for="voornaam">Voornaam:</label>
        <input 
            type="text" 
            id="voornaam" 
            name="voornaam"
            required><br><br>

        <label for="email">email:</label>
        <input 
            type="email" 
            id="email" 
            name="email" 
            required 
            autocomplete="email"><br><br>

        <label for="achternaam">wachtwoord:</label>
        <input 
            type="password" 
            id="wachtwoord" 
            name="password"
            required/><br><br>

        <input 
            type="file"
            id="avatar"
            name="avatar"
            accept="image/*"><br><br>

        <input type="submit" value="Inloggen">
    </form>