    <form id="login" action="/login" method="post">
        <label for="voornaam">Test:</label>
        <input 
            type="text" 
            id="voornaam" 
            name="voornaam"
            required><br><br>

        <input type="submit" value="Inloggen">
    </form>