    <form id="registreren" action="/registreren" method="post" enctype="multipart/form-data">
        <label for="r_voornaam">Voornaam:</label><br>
        <input 
            type="text" 
            id="r_voornaam" 
            name="r_voornaam"
            placeholder="Voornaam"
            required><br><br>

        <label for="r_email">Email:</label><br>
        <input 
            type="email" 
            id="r_email" 
            name="r_email"
            placeholder="email" 
            required 
            autocomplete="email"><br><br>

        <label for="r_password">Wachtwoord:</label><br>
        <input 
            type="password" 
            id="r_wachtwoord" 
            name="r_password"
            placeholder="Wachtwoord"
            required
            minlength="8">
            <br>
            <input type="checkbox" id="rshowpass"><br>

        <label for="r_leeftijd">Leeftijd:</label><br>
        <input 
            type="number" 
            id="r_leeftijd" 
            name="r_leeftijd"
            placeholder="Leeftijd"
            min="12" 
            max="99"
            required><br><br>
        
        <p>Geslacht:</p>
            <input class="linksRadio" type="radio" id="optie1" name="Geslacht" value="Man">
            <label for="optie1"> Man</label><br>         
            <input class="linksRadio" type="radio" id="optie2" name="Geslacht" value="Vrouw">
            <label for="optie2"> Vrouw</label><br>
            <input class="linksRadio" type="radio" id="optie3" name="Geslacht" value="Anders">
            <label for="optie3"> Anders</label><br><br>

        <label for="avatar">Profiel afbeelding:</label><br>
        <input 
            type="file"
            id="avatar"
            name="avatar"
            accept="image/*"><br><br>

        <input type="submit" value="Registreren"><br><br>
    </form>