<!doctype html>

<title>Login</title>
<p>Hoi</p>

    <form action="/login" method="post">
        <label for="voornaam">Voornaam:</label>
        <input type="text" id="voornaam" name="voornaam" value=""><br><br>
        <label for="achternaam">Achternaam:</label>
        <input type="text" id="achternaam" name="achternaam" value=""><br><br>
        <input type="submit" value="Inloggen">
    </form>