:root {
  --achtergrond: #484848;
  --achtergrond2: #919191;
  --base1: #FFF;
  --base2: #000;
  --groen1: #3A8C6E;
  --groen2: #56BF8E;
  --groen3: #5AC99E;
  --groen4: #9CE8CE;
}

* {
    margin: 0;
    padding: 0;
    color: var(--base1);
    color: #FFFF;
}

body {
    background-color: var(--achtergrond);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 5fr 1fr / 1fr 5fr;
}

header {
    display: grid;
    grid-area: 1 / 1 / 2 / 4;
    border-style: none none solid solid;
    border-color: var(--groen1);
    padding: 10px;
    background-color: #2e2e2e;
}

menu {
    display: grid;
    grid-area: 2 / 1 / 4 / 2;
    border-style: none solid none none;
    border-color: var(--groen1);
    padding: 10px;
}

main {
    display: grid;
    grid-area: 2 / 2 / 3 / 4;
    border-style: solid none solid solid;
    border-color: var(--groen1);
    padding: 10px;
}

footer {
    display: grid;
    grid-area: 3 / 2 / 4 / 4;
    border-style: solid none none solid;
    border-color: var(--groen1);
    padding: 10px;
}

#contentBlok {
    position: absolute;
    width: 30vw;
    height: 50vh;
    border: solid var(--groen1);
    margin-left: 34vw;
    margin-top: 14vh;
    padding: 2vw;
    background-color: var(--achtergrond2);
    border-radius: 2vw;
}

#contentBlok form {
    margin-left: 5vw;
}

#contentBlok input {
    width: 20vw;
    color: var(--base2);
}

#contentBlok #showpass {
    width: auto;
    float: left;
}

#contentBlok #rshowpass {
    width: auto;
    float: left;
}

#contentBlok h1 {
    text-align: center;
    margin-bottom: 50px;
}

#login {
    display: block;
}

#registreren {
    display: none;
}

#login input {
    color: black;
}

#contentblok h1 {
    padding: 0 0.3em;
}

header nav li {
    list-style-type: none;
    display: inline-flex;
    height: 5vh;
    border-radius: 1em;
    background-color: var(--groen4);
    margin: 0 0.5em;
    padding: 0.1em 1.5em;
    align-items: center;
    justify-content: center;
}

header nav li:last-of-type {
    float: right;
    overflow: visible;
    border-radius: 0;
    background-color: transparent;
}

header nav li img {
    height: 210%;
    aspect-ratio: inherit;
}

header nav a {
    text-decoration: none;
    color: #000;
}

.filtersContainer {
    display: flex;
    width: 100%;
    background-color: #3a8c6e;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3em;
}

.filters {
    top: 0;
    position: sticky;
    padding-left: 1em;
}

#genreFilters {
    margin-bottom: 2em;
    margin-top: 1em;
}

#platformFilters {
    margin-bottom: 1em;
    margin-top: 1em;
}
 
#games {
    margin-left: 0.5em;
    display: grid;
    grid-template-columns: 18em 18em 18em 18em ;
    align-content: space-evenly;
    gap: 2em 0.5em;
}

.game {
    width: 16.5em;
    background-color: #3a8c6e;
    border-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    padding: 1em 0.5em 0.5em;
}

.gameButton {
    width: 10em;
    height: 2.5em;
    background-color: #7DB9A4;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0.5em;
    color: black;
    
}

.game img {
    width: 200px;
    height: 100px;
    padding: 1em;
    filter: grayscale(50%);

}
