<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Home</title>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<menu>
    <a href="/games">Games bekijken</a>
    <a href="/registreren">Account aanmaken</a>
</menu>
<main>
    <a id="butInloggen" href="/login">Inloggen/account</a>
    
    <a href="/hulp">Hulp pagina</a>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="/darkLight.js"></script>
</body>
</html>