<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Matchen</title>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<menu>
    <%- include('../partials/menu'); %>
</menu>
<main>
    
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>