<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('../partials/head'); %>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="genreSelect">
        <h2>Selecteer genres</h2>
        <form id="genreForm" action="/opslaan" method="post">
            <label id="genre"><input type="checkbox" name="genre" value="Actie">Actie</label><br>
            <label id="genre"><input type="checkbox" name="genre" value="RPG">RPG</label><br>
            <label id="genre"><input type="checkbox" name="genre" value="Horror">Horror </label><br>
            <label id="genre"><input type="checkbox" name="genre" value="Multiplayer">Multiplayer </label><br>
            <label id="genre"><input type="checkbox" name="genre" value="Strategy">Strategy </label><br>
        </form>
        <button id="formSubmit" type="submit">Verder</button>
    </div>
</body>
</html>