<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Profile</title>
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<menu>
    <%- include('../partials/menu'); %>
</menu>
<main>
    <a href="/login">login</a>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>